<body class="landing-page">
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
              <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a href="/" class="navbar-brand">TutorMap</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a class="page-scroll" href="#page-top">Home</a></li>
                <li><a class="page-scroll" page-scroll href="#features">Features</a></li>
          </div>
      </div>
  </nav>


  <header id="page-top">
      <%= render 'welcome/alerts' %>
      <div class="container">
          <div class="heading">
              <h1>
                  350 profesores de clases particulares
              </h1>
              <span>Contrary to popular belief, Lorem Ipsum is not<br/> simply random text for print.</span>
              <p class="small">
                  Lorem Ipsum is simply dummy text of the printing and tLorem Ipsum is  Lorem Ipsum is simply dummy of the simply dummy text of the ypesetting.
              </p>
              <a href="#" class="btn btn-success btn-sm">Learn more</a>
          </div>
          <div class="heading-image animate-panel" data-child="img-animate" data-effect="fadeInRight">
              <p class="small">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <img class="img-animate" src="/assets/landing/c1.jpg">
              <img class="img-animate" src="/assets/landing/c2.jpg">
              <img class="img-animate" src="/assets/landing/c3.jpg">
              <img class="img-animate" src="/assets/landing/c4.jpg">
              <br/>
              <img class="img-animate" src="/assets/landing/c5.jpg">
              <img class="img-animate" src="/assets/landing/c6.jpg">
              <img class="img-animate" src="/assets/landing/c7.jpg">
              <img class="img-animate" src="/assets/landing/c8.jpg">
          </div>
      </div>
  </header>
