<%= render 'welcome/header' %>

  <section>
      <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h4>Listado de Profesores</h4>
              <p>Tenemos un amplio abanico de profesores particulares en la ciudad de Medellín y Bogotá. Usted puede ver el perfil del profesor, la experiencia, los estudios y demás. podrá ver también su Rating</p>
              <p><%= link_to 'Listado Profesores', teachers_path, class: "navy-link btn btn-sm" %></p>
          </div>
          <div class="col-md-4">
              <h4>Solicitar Tutoria</h4>
              <p>Usted podrá solicitar una tutoria con alguno de nuestros profesores, desde una hora (algunos profesores exigen mínimo 2 horas), y seleccionar el lugar que desea para la clase. </p>
              <p><%= link_to 'Solicitar Tutoria', new_tutoring_path, class: "navy-link btn btn-sm" %></p>
          </div>
          <div class="col-md-4">
              <h4>Calidad de los Profesores</h4>
              <p>Los profesores que hacen parte de nuestra plataforma han pasado por un proceso de verificación de conocimientos y de Hoja de Vida. Igualmente usted siempre podrá calificarlos en nuestra plataforma</p>
              <p><%= link_to 'Listado Profesores', teachers_path, class: "navy-link btn btn-sm" %></p>
          </div>
      </div>
      </div>
  </section>

  <section id="features" class="bg-light">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-md-offset-3 text-center">
                  <h2><span class="text-success">Características </span>que nos hacen diferentes</h2>
                  <p>
                      Existen diferentes espacios donde usted puede ponerse en contacto con profesores particulares, pero con Tuttores.co usted podrá beneficiarse de lo siguiente:
                  </p>
              </div>
          </div>
          <div class="row m-t-lg">
              <div class="col-md-4 col-md-offset-2">
                  <strong>TutorRating*</strong>
                  <p>Es un sistema de calificaciones que usamos en el cual vamos "Rankeando" los profesores segun las calificaciones que le otorgan los alumnos. A más y mejores calificaciones, mayor será el ranking de ese profesor. </p>
              </div>
              <div class="col-md-4">
                  <strong>Test de Calificación.</strong>
                  <p>Cuando un profesor se registra en nuestra plataforma, nosotros validamos sus conocimientos y su Hoja de Vida, por medio de unos Test internos, los cuales también posicionan y "Rankean" a los profesores. </p>
              </div>
          </div>
          <div class="row m-t-lg">
              <div class="col-md-4 col-md-offset-2">
                  <strong>Contacto Directo.</strong>
                  <p>En nuestra plataforma no hay intermediarios. Usted se contacta directamente con el profesor que le llame la atención según sus propios criterios, como la tarifa por hora, el Rating, la experiencia y el conocimiento, etc.  </p>
              </div>
              <div class="col-md-4">
                  <strong>Múltiples Opciones.</strong>
                  <p>Con más de 100 profesores, usted tendrá la posibilidad de elegir al que mas se acomode a sus necesidades. No será necesario conformarse, usted podrá elegir entre los mejores profesores particulares en cada rama</p>
              </div>
          </div>
      </div>
  </section>

  <section id="team">
      <div class="container">
          <div class="row text-center">
              <div class="col-md-6 col-md-offset-3">
                  <h2><span class="text-success">Tutor</span>Rating</h2>
                  <p>
                      Es un sistema de calificaciones que usamos en el cual vamos "Rankeando" los profesores segun las calificaciones que le otorgan los alumnos. A más y mejores calificaciones, mayor será el ranking de ese profesor. Estos son los profesores mejor "Rankeados" en nuestra plataforma
                  </p>
              </div>
          </div>

          <div class="row m-t-lg text-center">
              <div class="col-sm-4">
                  <div class="team-member">
                      <img src="/assets/a2.jpg" class="img-circle img-small" alt="">
                      <h4><span>User</span> name</h4>
                      <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus. </p>

                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="team-member">
                      <img src="/assets/a5.jpg" class="img-circle" alt="">
                      <h4><span>User</span> name</h4>
                      <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>

                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="team-member">
                      <img src="/assets/a3.jpg" class="img-circle img-small" alt="">
                      <h4><span>User</span> name</h4>
                      <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
                  </div>
              </div>
          </div>
          <div class="row m-t-lg text-center">
              <div class="col-sm-4">
                  <div class="team-member">
                      <img src="/assets/a7.jpg" class="img-circle img-small" alt="">
                      <h4><span>User</span> name</h4>
                      <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus. </p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="team-member">
                      <img src="/assets/a8.jpg" class="img-circle" alt="">
                      <h4><span>User</span> name</h4>
                      <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="team-member">
                      <img src="/assets/a9.jpg" class="img-circle img-small" alt="">
                      <h4><span>User</span> name</h4>
                      <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
                  </div>
              </div>
          </div>

      </div>
  </section>


  <section id="contact" class="bg-light">
      <div class="container">
          <div class="row text-center">
              <div class="col-md-6 col-md-offset-3">
                  <h2><span class="text-success">Contáctanos</span> en cualquier momento</h2>
                  <p>
                      Estamos disponibles en horarios laborales para atender sus inquietudes. Escribanos y a la mayor brevedad posible le estaremos respondiendo o devolviendo la llamada.
                  </p>
              </div>
          </div>
          <div class="row text-center m-t-lg">
              <div class="col-md-4 col-md-offset-3">
                  <form class="form-horizontal" role="form" method="post" action="#">
                      <div class="form-group">
                          <label for="name" class="col-sm-2 control-label">Nombre</label>

                          <div class="col-sm-10">
                              <input type="text" class="form-control" id="name" name="name" placeholder="Nombre y Apellidos" value="">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="email" class="col-sm-2 control-label">Email</label>

                          <div class="col-sm-10">
                              <input type="email" class="form-control" id="email" name="email" placeholder="user@example.com" value="">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="name" class="col-sm-2 control-label">Teléfono</label>

                          <div class="col-sm-10">
                              <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Numero Telefónico" value="">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="message" class="col-sm-2 control-label">Mensaje</label>

                          <div class="col-sm-10">
                              <textarea class="form-control" rows="3" name="message"  placeholder="Su mensaje aqui..."></textarea>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-12">
                              <input id="submit" name="submit" type="submit" value="Enviar Mensaje" class="btn btn-success">
                          </div>
                      </div>
                  </form>
              </div>
              <div class="col-md-3 text-left">
                  <address>
                      <strong><span class="navy">Tuttores.co</span></strong><br/>
                      Calle 41 A Sur 43 A - 114<br/>
                      Envigado, Medellin<br/>
                  </address>
                  <p class="text-color">
                      Su número telefónico solo será usado para retornar la llamada. Estamos devolviendo llamadas y mensajes en un lapso de 2-3 horas. Recuerde que siempre podrá comunicarse directamente con el profesor de su preferencia.
                  </p>
              </div>
          </div>


      </div>
  </section>


  <!-- Local script for menu handle -->
  <!-- It can be also directive -->
  <script>
      $(document).ready(function () {

          // Page scrolling feature
          $('a.page-scroll').bind('click', function(event) {
              var link = $(this);
              $('html, body').stop().animate({
                  scrollTop: $(link.attr('href')).offset().top - 50
              }, 500);
              event.preventDefault();
          });

          $('body').scrollspy({
              target: '.navbar-fixed-top',
              offset: 80
          });

      });
  </script>
</body>
